@model DonationViewModel

@{
    ViewData["Title"] = "Details";
    var userFullName = $"{Model.User.UserName} {Model.User.UserLastName}";
}


<h1>Detalhes da doação</h1>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonationName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonationName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfRegister)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DateOfRegister)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CourierPrice)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CourierPrice)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NewOrOld)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NewOrOld)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.DonationZipCode)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.DonationZipCode)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.User)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.User.FullName)
        </dd>
    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
