@model DonationIndexViewModel

@{
    ViewData["Title"] = "Index";
}



<form asp-action="Index">
    <label>Busca:</label>
    <input type="text" asp-for="@Model.Search" />
    <br />
    <label>Ordenação por nome da doação:</label>
    <select asp-for="OrderAscendant">
        <option value="@true">Ascendente</option>
        <option value="@false">Descendente</option>
    </select>
    <br />
    <button class="btn btn-primary">Pesquisar</button>
</form>
<p>
    <a asp-action="Create">Create New</a>
</p>
@{
    if (Model.Donations == null || !Model.Donations.Any())
    {
        <p>Nenhuma doação cadastrada</p>
        return;
    }
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().DonationName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().DateOfRegister)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().CourierPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().Quantity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().NewOrOld)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().DonationZipCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Donations.First().User)
            </th>
            <th></th>
        </tr>
        </thead>
    <tbody>
    @foreach (var item in Model.Donations) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DonationName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfRegister)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CourierPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NewOrOld)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DonationZipCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.FullName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
